﻿.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	margin: 5px;
	color: white;
	display: inline-block;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

/*input[type="file"] {
	display: block;
}*/

.imageThumb {
	max-width: 100%;
	height: auto;
	padding: 1px;
}

.pip {
}

.remove {
	width: 100%;
}