﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreApp15_04</title>

	<environment include="Development">
		@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
		<link href="~/css/bootstrap.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/site.css" />
		@*<link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" />*@
		<link href="~/css/tagsinput.css" rel="stylesheet" />
		<link href="~/css/Custom.css" rel="stylesheet" />
	</environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-md">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="navbar-toggler-icon"></span>
				</button>
				<a asp-area="" asp-controller="Post" asp-action="Index" class="navbar-brand">AlaInstagram</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a asp-area="" asp-controller="Post" asp-action="Index" class="mr-4">Posts</a></li>
					<li><a asp-area="" asp-controller="Post" asp-action="Create" class="mr-4">Create</a></li>
				</ul>
			</div>
		</div>
	</nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - CoreApp15_04</p>
        </footer>
    </div>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		@*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
		<script src="~/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		@*<script src="~/lib/bootstrap-tagsinput.js"></script>*@
		<script src="~/lib/tagsinput.js"></script>
		<script src="~/js/jquery.js"></script>
		<script src="~/js/ImagePreview.js"></script>
	</environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
