﻿@model CoreApp15_04_Instagram.ViewModels.AddPostViewModel

@{
	ViewData["Title"] = "Create";
}

<h2>Hello in Ala Instagram app</h2>

<h4>Add Post</h4>
<hr />
<div class="row">
	<div class="col-md-12">
		<form id="fileupload" asp-action="Create" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group col-md-4">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group col-md-4">
				<label asp-for="CommaSeparatedTags" class="control-label"></label>
				<input asp-for="CommaSeparatedTags" class="form-control" data-role="tagsinput" />
				<span asp-validation-for="CommaSeparatedTags" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Photos" class="control-label"></label>
				<input asp-for="Photos" type="file"  multiple class="inputfile" id="file">
				<label for="file" class="btn btn-success">
					<span>Add file...</span>
				</label>
				<span asp-validation-for="Photos" class="text-danger"></span>
			</div>
			<div class="container">
				<div class="row" id="files"></div>
			</div>

			<div class="form-group">
				<input type="submit" value="Publish" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
