﻿@model IEnumerable<CoreApp15_04_Instagram.ViewModels.DisplayPostViewModel>

@{
	ViewData["Title"] = "Index";
}

<h2>Your posts</h2>

<p>
	<a asp-action="Create">Add new post</a>
</p>
<div class="row">
	@foreach (var post in Model)
	{
		<div class="col-sm-12 col-md-6 col-lg-4">
			<h3>@post.Title</h3>
			<div id="@post.Title" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					@{
						var first = true;
					}
					@foreach (var photo in post.PhotoPaths)
					{
						<div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">
							<img class="d-block w-100" src="@photo" alt="@photo">
						</div>
						first = false;
					}
				</div>
				<a class="carousel-control-prev" href="#@post.Title" role="button"
				   data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#@post.Title" role="button"
				   data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			@foreach (var tag in post.Tags)
			{
				<span class="btn btn-primary">@tag</span>
			}
		</div>
	}
</div>
